/* Empty. Add your own CSS if you like */
h1
{
  color: #dfccde;
  text-shadow: 2px 1px 5px #ad23ac;
  font-style: italic;
  font-size: 360%;
  font-weight: bold;
}
.dash-item
{
  background-color: rgba(180,100,180, 0.4);
  border: none;
  border-radius: 3px;
  font-size:1.5em;
}
.ion-chevron-right
{

}
.item-avatar div
{
  text-align: right;
}
#map
{
  display: block;
  width: 100%;
  height: 400px;
}
.scroll
{
  height: 100%;
}
.bgimg
{
   background-image: url("../img/bg1.jpg");
   background-size:100%;

}
.page-bg
{
  background-image: url("../img/background3.png");
  background-size: 100%;
}
.servicesImgSize
{
  height: 100px;
  width:100px;
  display:inline-block;
  border-right: 7px;
}
.servicesImgSize img
{
  height: auto;
  max-width:100%;
}
.servicesBgStyle
{
    background-color: rgba(153, 50, 204, 0.9);
    color: black;
}
#profile-info
{
  width: 100%;
}
#profile-info td:nth-of-type(2)
{
  text-align: right;
}
#login
{
  margin-left:auto;
  margin-right: auto;
}
#profile-interests
{
  width: 100%;
}
#profile-info textarea
{
  background-color: #fff;
}
