/* Empty. Add your own CSS if you like */
.dash-item
{
  background-color: rgba(180, 220, 200, 0.7);
  border: none;
  border-radius: 3px;
}
.dash-item a:link, a:visited
{
  color: #4acc4a;
}

.item-avatar div
{
  text-align: right;
}

#map {
  display: block;
  width: 100%;
  height: 400px;
}
.scroll {
  height: 100%;
}
