/* Empty. Add your own CSS if you like */
/*.padding
{
  background-color: #cf00ee;
}*/
.dash-item
{
  background-color: rgba(180, 220, 200, 0.7);
  border: none;
  border-radius: 3px;
}
.dash-item a:link, a:visited
{
  color: #4acc4a;
}
