<!--<ion-view view-title="Home">
  <ion-content>
    <div class="list card">

    </div>
  </ion-content>
</ion-view>-->
<!-- here is the old home page (tranquil spa) -->
<ion-view view-title="Home">
  <ion-content class="padding bgimg">
    <h1 id="spa-title">Tranquil Spa</h1>
    <div class="list">
      <a class="dash-item item item-icon-left" href="#/tab/dash/services">
        <i class="icon ion-wand"></i>
        Services
      </a>
      <br/>
      <a class="dash-item item item-icon-left" href="#/tab/dash/appointments">
        <i class="icon ion-clock"></i>
        Appointments
      </a>
      <br/>
      <a class="dash-item item item-icon-left" href="#/tab/dash/specials">
        <i class="icon ion-ribbon-b"></i>
        Specials
      </a>
    </div>
  </ion-content>
</ion-view>
