<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" href="#/tab/settings/about">
        About
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right" href="#/tab/settings/help">
        Help
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right" href="#/tab/settings/profile">
        Profile
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-right" href="#/tab/settings/logout">
        Logout
      </a>
    </div>
  </ion-content>
</ion-view>
