<ion-view view-title="Services">
  <ion-content class="padding">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <ion-list>
      <div class="list">
        <a href="#/tab/dash/services/facial" class="item item-icon-right">
          Facial Treatments
          <i class="icon ion-chevron-right"></i>
        </a>
        <a href="#/tab/dash/services/nail" class="item item-icon-right">
          Nail Care
          <i class="icon ion-chevron-right"></i>
        </a>
        <a href="#/tab/dash/services/body" class="item item-icon-right">
          Body Treatments
          <i class="icon ion-chevron-right"></i>
        </a>
        <a href="#/tab/dash/services/waxing" class="item item-icon-right">
          Waxing
          <i class="icon ion-chevron-right"></i>
        </a>
        <a href="#/tab/dash/services/laser" class="item item-icon-right">
          Laser Hair Removal
          <i class="icon ion-chevron-right"></i>
        </a>
        <a href="#/tab/dash/services/medical" class="item item-icon-right">
          Medical Services
          <i class="icon ion-chevron-right"></i>
        </a>
      </div>
  <!--  <ion-item ng-repeat="price in prices">
      {{price.cost}} {{price.type}}
    </ion-item>
  </ion-list>
    <div class="list">
      <div href="" class="list card">
        <div class="item item-divider">
          service_title
        </div>
        <div class="item item-image">
          <a href=""><img src="img/ionic.png"/></a>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">
          service_title
        </div>
        <div class="item item-image">
          <a href=""><img src="img/ionic.png"/></a>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">
          service_title
        </div>
        <div class="item item-image">
          <a href=""><img src="img/ionic.png"/></a>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
