<body ng-app="starter" ng-controller="AppointmentsCtrl">
  <ion-view view-title="Appointments">
  <ion-content class="padding">
 <button class="button icon-left ion-plus" ng-click="addItem()">Book Appointment</button>


 <button class="button icon-left ion-plus" ng-click="addReview()"><h2>Reviews</h2></button>
 <ion-list>
     <ion-item ng-repeat="review in reviews" ng-class="{deleted: review.status == 'deleted'}">
     {{review.comment}}
     <ion-option-button class="button-royal" ng-click="deleteReview (review)">
         <i class="icon ion-trash-a"></i>
       </ion-option-button>
   <!--  <ion-option-button class="button-royal" ng-click="deleteItem (item)">
       <i class="ion-trash-a"></i>
     </ion-option-button> -->
     </ion-item>
   </ion-list>

    <h2>History</h2>
    <ion-list>
        <ion-item ng-repeat="item in items" ng-class="{deleted: item.status == 'deleted'}">
        {{item.name}} {{item.date}}
      <ion-option-button class="button-royal" ng-click="deleteItem (item)">
          <i class="icon ion-trash-a"></i>
        </ion-option-button>
        </ion-item>
      </ion-list>
    <h2>Calendar</h2>
  </ion-content>
</ion-view>
</body>
