<ion-view view-title="About">
  <ion-content class="padding" class="page-bg" ng-init="init()">
    <div class="card">
      <div class="item item-divider">
        About
      </div>
      <div class="item item-text-wrap">
        A brief description of TouchBase goes here. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </ion-content>
</ion-view>
<!-- Old About Page -->
<!--<ion-view view-title="About">
  <ion-content class="padding" class="page-bg" ng-init="init()">
    <div class="card">
      <div class="item item-divider">
        About
      </div>
      <div class="item item-text-wrap">
        Tranquil Day Spa offers a welcoming, cozy environment where you can
        enjoy relaxing treatments with real results, all tailored to your
        specific needs. Our friendly Skin Care Experts are dedicated to
        delivering high quality, professional skin care, allowing our treasured
        clients to indulge in much needed leisure.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Location &amp; Contact
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-location"></i>
        Corner of Norham Road, Belmont Road, St. Michael
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        5719679
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-email"></i>
        tsstow@yahoo.com
      </div>
      <div class="item item-divider">
        Follow us on
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
      </div>
    </div>
    <div class="card">
      <div class="item item-body">
        <div class="item item-divider">
          Map
        </div>
        <div id="map" data-tap-disabled="true"></div>
      </div>
    </div>
  </ion-content>
</ion-view>-->
