<ion-view view-title="Account">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-avatar">
        <img src="img/max.png" />
        <button class="button button-clear button-positive">Edit</button>
        <br/><br/>
        <div>John Doe</div>
        <div>14 points</div>
      </div>
      <div class="item">
        <table id="profile-info">
          <tr><td> </td><td><button class="button icon ion-edit"></button></td>
          <tr><td>Gender:</td> <td>M</td></tr>
          <tr><td>DOB:</td> <td>95/05/16</td></tr>
          <tr><td>Age:</td> <td>21</td></tr>
          <tr><td>Marital Status:</td> <td> Single</td></tr>
          <tr><td># of Children:</td> <td> 2</td></tr>
          <tr><td>Email Address:</td> <td> example@gmail.com</td></tr>
          <tr><td>Tel. #:</td> <td> 1234567</td></tr>
          <tr><td>Cell #:</td> <td> 2137465</td></tr>
          <tr><td>Work #:</td> <td> 4132756</td></tr>
          <tr><td>Place of Work:</td> <td> company</td></tr>
          <tr><td>Position:</td> <td> CEO</td></tr>
          <tr><td>Work Email:</td> <td> ceo@company.com</td></tr>
        </table>
      </div>
      <div class="item">
        <button class="button button-clear button-positive">Logout</button>
      </div>
  </div>
  </ion-content>
</ion-view>
