<ion-view view-title="Profile">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-avatar">
        <img src="img/max.png" />

          <button class="button button-clear button-positive">Edit</button>

        <br/><br/>
        <div>John Doe</div>
        <div>14 points</div>
      </div>
      <div class="item">
        <table id="profile-info">

            <tr><td> </td><td><a href="#/tab/profile/editProfile" class="button icon ion-edit"></a></td>
              <tr><td>Gender:</td> <td><input type="text" name="gender" value ="M" disabled></td></tr>
              <tr><td>DOB:</td> <td><input type="text" name="dob" value ="95/05/16" disabled></td></tr>
              <tr><td>Age:</td> <td><input type="text" name="age" value ="21" disabled></td></tr>
              <tr><td>Marital Status: </td> <td><input type="text" name="maritalStatus" value ="Single" disabled> </td></tr>
              <tr><td># of Children:</td> <td><input type="text" name="noOfChildren" value ="2" disabled> </td></tr>
              <tr><td>Email: </td> <td><input type="text" name="emailAddress" value ="example@gmail.com" disabled> </td></tr>
              <tr><td>Tel. #:</td> <td><input type="text" name="telNo" value ="1234567" disabled> </td></tr>
              <tr><td>Cell #:</td> <td><input type="text" name="cellNo" value ="2137465" disabled> </td></tr>
              <tr><td>Work #:</td> <td><input type="text" name="work#" value ="4132756" disabled> </td></tr>
              <tr><td>Place of Work:</td> <td><input type="text" name="placeOfWork" value ="company" disabled> </td></tr>
              <tr><td>Position:</td> <td><input type="text" name="position" value ="CEO" disabled> </td></tr>
              <tr><td>Work Email:</td> <td><input type="text" name="workEmail" value ="ceo@company.com" disabled> </td></tr>
              <tr><td>Interests:</td><td></td></tr>

        </table>
        <input id="profile-interests" type="text" class="item-text-wrap" name="interest" value ="khfghjkdhgkgddjkfjgdkjkfgkdgkfdkfkdjfdfdkfdfgdjkgfdkfg" />
      </div>
      <div class="item">
        <button class="button button-clear button-positive">Logout</button>
      </div>
  </div>
  </ion-content>
</ion-view>
