<ion-view view-title="Find">
  <ion-content class="padding">
    <div class="list card">
      <a href="#" class="item item-icon-left">
        <i class="icon ion-location"></i>
        Corner of Norham Road, Belmont Road, St. Michael
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        5719679
      </a>
      <a href="#" class="item item-icon-left">
        <i class="icon ion-email"></i>
        tsstow@yahoo.com
      </a>
    </div>
    <div class="list card">
      <div class="item item-body">
        Map
        <img class="full-image" src="">
      </div>
    </div>
  </ion-content>
</ion-view>
