<ion-view view-title="Edit Profile">
  <ion-content>
      <div class="item">
        <form id="" method="post" action="#">
          <table id="profile-info">
            <tr><td>Gender:</td> <td><input type="text" name="gender" value ="M"></td></tr>
            <tr><td>DOB:</td> <td><input type="text" name="dob" value ="95/05/16"></td></tr>
            <tr><td>Age:</td> <td><input type="text" name="age" value ="21"></td></tr>
            <tr><td>Marital Status: </td> <td><input type="text" name="maritalStatus" value ="Single"> </td></tr>
            <tr><td># of Children:</td> <td><input type="text" name="noOfChildren" value ="2"> </td></tr>
            <tr><td>Email: </td> <td><input type="text" name="emailAddress" value ="example@gmail.com"> </td></tr>
            <tr><td>Tel. #:</td> <td><input type="text" name="telNo" value ="1234567"> </td></tr>
            <tr><td>Cell #:</td> <td><input type="text" name="cellNo" value ="2137465"> </td></tr>
            <tr><td>Work #:</td> <td><input type="text" name="work#" value ="4132756"> </td></tr>
            <tr><td>Place of Work:</td> <td><input type="text" name="placeOfWork" value ="company"> </td></tr>
            <tr><td>Position:</td> <td><input type="text" name="position" value ="CEO"> </td></tr>
            <tr><td>Work Email:</td> <td><input type="text" name="workEmail" value ="ceo@company.com"> </td></tr>
            <tr><td>Interests:</td><td></td></tr>
          </table>
          <input id="profile-interests" type="text" class="item-text-wrap" name="interest" value ="Why do you sexually identify as an to be an Apache attack helicopter" />
          <br/>
          <input type="submit" value="OK">
        </form>
      </div>
  </ion-content>
</ion-view>
