<ion-view view-title="Profile">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-avatar">
        <img src="img/max.png" />

          <button class="button button-clear button-positive">Edit</button>

        <br/><br/>
        <div>John Doe</div>
        <div>14 points</div>
      </div>
      <div class="item">
        <sup><i class="icon ion-asterisk"></i></sup> optional
        <table id="profile-info">
            <tr><td> </td><td><a href="#/tab/profile/editProfile" class="button icon ion-edit"></a></td>
              <tr><td>Gender:</td> <td><input type="text" name="gender" value ="M" disabled></td></tr>
              <tr><td>DOB:</td> <td><input type="text" name="dob" value ="95/05/16" disabled></td></tr>
              <tr><td>Age:</td> <td><input type="text" name="age" value ="21" disabled></td></tr>
              <tr><td>Marital Status: </td> <td><input type="text" name="maritalStatus" value ="Single" disabled> </td></tr>
              <tr><td>No of Children:</td> <td><input type="text" name="noOfChildren" value ="2" disabled> </td></tr>
              <tr><td>Preferred Email: </td> <td><input type="text" name="emailAddress" value ="example@gmail.com" disabled> </td></tr>
              <tr><td>Tel No:</td><td><input type="text" name="telNo" value ="1234567" disabled> </td></tr>
              <tr><td>Cell No:</td><td><input type="text" name="cellNo" value ="2137465" disabled> </td></tr>
              <tr><td>Work No:<sup><i class="icon ion-asterisk"></i></sup></td><td><input type="text" name="work#" value ="4132756" disabled> </td></tr>
              <tr><td>Place of Work:<sup><i class="icon ion-asterisk"></i></sup></td><td><input type="text" name="placeOfWork" value ="company" disabled></td></tr>
              <tr><td>Position:<sup><i class="icon ion-asterisk"></i></sup></td> <td><input type="text" name="position" value ="CEO" disabled> </td></tr>
              <tr><td>Interests:</td><td>
              </br>
                <input type="text" name="interest" value="Volleyball, Music, Writing">
              <!--  <input type="radio" value="volleyball">Volleyball
                <input type="radio" value="music">Music
                <input type="radio" value="writing">Writing-->
              </td></tr>
        </table>
        <!--Other:<input type="text" id="profile-interests" type="text" name="interest" value="" />-->
      </div>
      <!--<div class="item">
        <button class="button button-clear button-positive">Logout</button>
      </div>-->
  </div>
  </ion-content>
</ion-view>
